/* #0C120C #A30000 #6D7275 #F0A202 #1BE7FF #FFFFFF */

body {
  font-family      : 'Biryani',
                     sans-serif;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  height: 20%
}

.title-box {
  display          : flex;
  border           : 20px solid #0C120C;
  background-color : #F0A202;
  align-items      : center;
  justify-content  : center;
  min-width:   200px;
}

.title {
  color        : #A30000;
  font-size    : 40px;
  font-weight: 900;
}

.title span {
  font-weight: 200;
}

.header-form {
  display: flex;
  align-items      : center;
  justify-content  : center;
  border           : 20px solid #0C120C;
  background-color : #A30000;
  width: 80%;
}

#submit-button {
  height           : 35px;
  width: 100px;
  border           : 3px solid #0C120C;
  background-color : #FFFFFF;
}

.middle-section {
  height           : 5%;
  border  : 20px solid #0C120C;
  background-color : #FFFFFF;
}

#folder-input {
  width         : 225px;
  height        : 27px;
  margin-right  : 30px;
  margin-bottom : 7px;
  border        : 3px solid #0C120C;
}


.folder-creation {
  display         : flex;
  justify-content : flex-end;
}

.folder-container {
  display: flex;
  flex-direction: row;
  height: 72.5%;
}

.folder-list {
  padding-top: 30px;
  display          : flex;
  flex-direction: column;
  border           : 20px solid #0C120C;
  background-color : #F0A202;
  align-items      : center;
  min-width:   200px;
}

.list-folder {
  display: flex;
  align-items: center;
  border: 5px solid #0C120C;
  width: 90%;
  height: 30px;
  margin: 5px;
}

.list-folder:hover {
  cursor : pointer;
}

.folder {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 900;
  margin: 5px;
}

.folder-detail {
  padding-top: 30px;
  display          : flex;
  flex-direction: column;
  border           : 20px solid #0C120C;
  background-color : #1BE7FF;
  align-items      : center;
  width: 80%;
}

.detail-name {
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 10px;
}

.link-list {

  
}
